---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Home/Hero.astro';
import SimpleAbout from '../components/Home/SimpleAbout.astro';
import FeaturedProjects from '../components/Home/Projects.astro';
---

<BaseLayout title="Joshua Ibrom">
    <Hero />
    <main class="flex flex-col gap-24">
        <section id="featured-projects">
            <FeaturedProjects />
        </section>
        <section id="about-me">
            <SimpleAbout />
        </section>
    </main>
</BaseLayout>

<style>
    section {
        @apply mx-auto px-8 w-full lg:w-3/4;
    }
</style>
