---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Home/Hero.astro';
import FeaturedProjects from '../components/Home/Projects.astro';

import config from '../util/config.ts';

const { headerHeightNum } = config;
---

<BaseLayout title="Joshua Ibrom">
    <Hero />
    <main>
        <hr class="border-poimandres-lowerBlue mx-8 md:mx-12 lg:mx-36" />
        <h3 style={`height: ${headerHeightNum - 2}px`} class="flex items-center justify-center text-2xl md:text-4xl lg:text-5xl text-poimandres-brightMint">Projects</h3>
        <hr class="border-poimandres-lowerBlue mx-8 md:mx-12 lg:mx-36" />
        <FeaturedProjects />
    </main>
</BaseLayout>
