---
import FeaturedProjectCard from "./projects/FeaturedProjectCard.astro";

const projects = [
    {
        key: 0,
        name: "Test Project 1",
        stack: ["Astro", "Tailwind"],
        desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    },
    {
        key: 1,
        name: "Test Project 2",
        stack: ["Svelte", "Tailwind"],
        desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    },
];
---

<div
    id="featured-projects"
    class="mx-auto py-12 px-8 flex flex-col gap-12 w-full lg:w-3/4"
>
    {projects.map((p) => <FeaturedProjectCard project={p} />)}
</div>
