---
export interface Props {
    headerHeight: string;
}

const { headerHeight } = Astro.props;
---

<header id="site-header" style={`height: ${headerHeight};`} class="bg-poimandres-bg transition-colors z-50">
    <a href="/" class="text-poimandres-brightMint text-lg lg:text-xl" title="Go home">Joshua Ibrom</a>
    <nav>
        <a href="/">home</a>
        <a href="/projects">projects</a>
        <a href="/about">about</a>
    </nav>
</header>

<script>
    const header = document.querySelector('#site-header')!;

    const defaultBg = 'bg-poimandres-bg';
    const scrolledBg = 'bg-poimandresStorm-bg/[0.99]';

    function updateHeaderClasses() {
        if (window.scrollY > 72) {
            header.classList.add(scrolledBg);
            header.classList.remove(defaultBg);
        } else {
            header.classList.add(defaultBg);
            header.classList.remove(scrolledBg);
        }
    }

    document.addEventListener('scroll', () => {
        updateHeaderClasses();
    });

    updateHeaderClasses(); // Ensure we update on page load as well

    header.querySelectorAll('nav').forEach(n => {
        n.querySelectorAll('a').forEach(a => {
            if (a.href === window.location.href) {
                a.classList.add('current-page');
            }
        });
    });
</script>

<style>
    header {
        @apply flex flex-row justify-between items-center gap-4 px-8 fixed top-0 left-0 right-0 transition-colors;
    }

    header nav {
        @apply flex flex-row gap-4;
    }

    header nav a {
        @apply text-poimandres-white transition-colors lg:text-lg;
    }

    header nav a.current-page {
        @apply text-poimandres-lightBlue;
    }

    header nav a:hover {
        @apply text-poimandres-brightYellow;
    }
</style>
